  <section id="homepage">
    <div class="container-width">
      <div class="content">
        <h1>Hi I'm </h1>
        <div class="buttons">
          <a href="mailto:annielin28815@gmail.com">Contact me</a>
        </div>
      </div>
    </div>
  </section>
